.quiz-container {
    max-width: 600px;
    margin: auto;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }


  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }