.header-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: indigo;
    color: white;
}

h1{
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.spacer {
  flex: 1;
}

.login-button{
  margin-right: 10px;
}