h1{
    padding-left: 20px;
    padding-bottom: 5px;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sample-card {
    max-width: 600px;
    background-color:darkorchid;
    color: white;
    margin: 5px;
    margin-left: 20px;
  }


