<div class="container">
    {{ getHeading() }}
    <mat-action-list>
      @for (test of testList; track test) {
  
      <button
        mat-list-item
        disabled="{{ test.attempted }}"
        (click)="startTest(test)"
        [style.background-color]="test.attempted ? 'lightcoral' : 'lightgreen'"
        style="border: 1px solid black; margin-right: 10px; margin-bottom: 10px;" 
      >
        {{ $index + 1 }}
       
        {{ test.description }}
      </button>
      }
    </mat-action-list>
  </div>
  