/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Applying background image and styles */
  body {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* You can change the font-family as needed */
    color: #b5411b; /* Text color */
  }
  
  /* Styling for the main content area */
  .main-content {
    padding: 20px;
  }
  
  /* Styles for headings */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  /* Styling for links */
  a {
    color: #007bff; /* Blue color for links, you can change it as needed */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  