<h2>Welcome user, you are logged in now!</h2>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Dashboard">
        <app-statistics></app-statistics>
    </mat-tab>
    <mat-tab label="Courses">
      <div class="tab-container">
        <section>
          <mat-button-toggle-group
            [(ngModel)]="selectedLanguage"
            aria-label="Selected Language"
            class="tab-button"
          >
            <mat-button-toggle value="en">English</mat-button-toggle>
            <mat-button-toggle value="fr">French</mat-button-toggle>
            <mat-button-toggle value="es">Spanish</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
      </div>
    </mat-tab>
    <mat-tab label="Quizes">
      <app-tests [selectedLanguage]="selectedLanguage"></app-tests>
    </mat-tab>
  </mat-tab-group>
  

