<h2>Welcome user, you are logged in now!</h2>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Dashboard">
        <app-statistics></app-statistics>
    </mat-tab>
    <mat-tab label="Courses">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="French">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Introductory French</mat-card-title>
              <mat-card-subtitle>Introduction to basics of French.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Intermediate French</mat-card-title>
              <mat-card-subtitle>Learning Essential Concepts of French.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Expert French</mat-card-title>
              <mat-card-subtitle>Deeper Dive into the language norms and practices.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Spanish">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Introductory Spanish</mat-card-title>
              <mat-card-subtitle>Introduction to basics of Spanish.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Intermediate Spanish</mat-card-title>
              <mat-card-subtitle>Learning Essential Concepts of Spanish.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Expert Spanish</mat-card-title>
              <mat-card-subtitle>Deeper Dive into the language norms and practices.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Japanese">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Introductory Japanese</mat-card-title>
              <mat-card-subtitle>Introduction to basics of Japanese.
                一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Intermediate Japanese</mat-card-title>
              <mat-card-subtitle>Learning Essential Concepts of Japanese.
                一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Expert Japanese</mat-card-title>
              <mat-card-subtitle>Deeper Dive into the language norms and practices.
                一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Quizes">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="French">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>French Quiz - Level 1</mat-card-title>
              <mat-card-subtitle>Scope: Basics of French.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>French Quiz - Level 2</mat-card-title>
              <mat-card-subtitle>Scope: Essential Concepts of French.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>French Quiz - Level 3</mat-card-title>
              <mat-card-subtitle>Scope: Language norms and practices.
                Apprenons ensemble les bases de la langue. Passons éventuellement aux niveaux intermédiaire et expert.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Spanish">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Spanish Quiz - Level 1</mat-card-title>
              <mat-card-subtitle>Scope: Basics of Spanish.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Spanish Quiz - Level 2</mat-card-title>
              <mat-card-subtitle>Scope: Essential Concepts of Spanish.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Spanish Quiz - Level 3</mat-card-title>
              <mat-card-subtitle>Scope: Language norms and practices.
                Aprendamos juntos los conceptos básicos del idioma. Finalmente, pasemos a los niveles intermedio y experto.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
        <mat-tab label="Japanese">
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Japanese Quiz - Level 1</mat-card-title>
              <mat-card-subtitle>Scope: Basics of Japanese.
                一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Japanese Quiz - Level 2</mat-card-title>
              <mat-card-subtitle>Scope: Essential Concepts of Japanese.
                一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
          <br>
           <mat-card class="sample-card">
            <mat-card-header>
              <mat-card-title>Japanese Quiz - Level 3</mat-card-title>
              <mat-card-subtitle>Scope: Language norms and practices.
              一緒に言語の基礎を学びましょう。最終的には中級、上級レベルに進みましょう。
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button class="btn-pr">START</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
  

