<div class="container">
  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
    <mat-tab label="Dashboard">
      <mat-card class="sample-card">
        <mat-card-header>
          <mat-card-title>Translation</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <br />
      <mat-card class="sample-card">
        <mat-card-header>
          <mat-card-title>Progress Chart</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Courses">
      <div class="tab-container">
        <section>
          <mat-button-toggle-group
            [(ngModel)]="selectedLanguage"
            aria-label="Selected Language"
            class="tab-button"
          >
            <mat-button-toggle value="en">English</mat-button-toggle>
            <mat-button-toggle value="fr">French</mat-button-toggle>
            <mat-button-toggle value="es">Spanish</mat-button-toggle>
          </mat-button-toggle-group>
          
        </section>
        <div class="learningmaterial" >
          <iframe width="1000px" height="1000px"  src="http://127.0.0.1:5000/"></iframe>
        </div>
      </div>
      
    </mat-tab>
    <mat-tab label="Quizes">
      <app-tests [selectedLanguage]="selectedLanguage"></app-tests>
    </mat-tab>
  </mat-tab-group>
</div>
