    
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .result-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 40px;
  }
  
  .result-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .result-info {
    display: flex;
    justify-content: space-between;
  }
  
  .result-text {
    font-size: 18px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
